.navbar-links {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  gap: 1rem;
  padding: 2rem 2rem;
  border: 1px solid;
  border-radius: 1rem;
}

.wrapper {
  padding: 2rem 2rem;
  background-color: #f9f5f2;
  border: 1px solid;
  border-radius: 1rem;
}
